[Unit]
Description= Vireo 4 ETD service
[Service]
User=vireo4
#This must point to the Vireo base path
WorkingDirectory=/home/vireo4/etd/Vireo/
#This is a path to a bash script which launches the war file
ExecStart=/home/vireo4/etd/vireo4.sh
ExecStop=/bin/pkill -f 'java -jar /home/vireo4/'
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
[Install]
WantedBy=multi-user.target

